/* css/style.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    /* Color Palette dari Desain */
    --primary-blue: #00668F;
    --dark-blue: #004A6A;
    --light-bg: #F4F7F9;
    --white: #FFFFFF;
    --text-main: #333333;
    --text-muted: #888888;
    --border-color: #E2E8F0;
    --success-green: #4CAF50;
    --input-bg: #F1F5F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--light-bg);
    color: var(--text-main);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Base Styles untuk Form Container */
.container {
    background-color: var(--white);
    width: 100%;
    max-width: 900px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.header-brand {
    color: var(--primary-blue);
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 30px;
}   


.status-offline {
            background-color: #64748B !important; /* Warna abu-abu redup */
        }

.opacity-dim { opacity: 0.6; }